In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_pemohon = pd.read_excel('masukan.xlsx')

In [ ]:
data_pemohon

     id  pinjaman  pemasukan
0     1        15          4
1     2         9         60
2     3         3          7
3     4         5          6
4     5         2          3
..  ...       ...        ...
95   96        25         36
96   97        17          4
97   98         1         54
98   99         7         15
99  100         8         26

[100 rows x 3 columns]

In [ ]:
def fuzzification_pinjaman(pinjaman):
  if pinjaman >= 25:
    Banyak = 1
  elif pinjaman >= 10 and pinjaman < 25:
    Banyak = (pinjaman - 10) / (25 - 10)
  else:
    Banyak = 0

  if pinjaman < 2 and pinjaman > 0:
    Sedikit = 1
  elif pinjaman >= 2 and pinjaman < 4:
    Sedikit = (pinjaman - 2) / (4 - 2)
  else:
    Sedikit = 0

  if pinjaman > 5 and pinjaman <= 8:
    Sedang = 1
  elif pinjaman >= 2.5 and pinjaman < 15:
    Sedang = (pinjaman - 2.5) / (15 - 2.5)
  else:
    Sedang = 0
  list1 = [Banyak, Sedang, Sedikit]
  return list1

hasil_fuzzy_pinjaman = []

for i in range (100):
  hasil_fuzzy_pinjaman.append(fuzzification_pinjaman(data_pemohon["pinjaman"][i]))

In [ ]:
print(hasil_fuzzy_pinjaman)

[[0.3333333333333333, 0, 0], [0, 0.52, 0], [0, 0.04, 0.5], [0, 0.2, 0], [0, 0, 0.0], [1, 0, 0], [0.06666666666666667, 0.68, 0], [0, 1, 0], [0, 0.12, 0], [0.8666666666666667, 0, 0], [1, 0, 0], [0.6666666666666666, 0, 0], [0, 1, 0], [0, 0, 1], [0, 1, 0], [0.6, 0, 0], [0, 1, 0], [1, 0, 0], [0.13333333333333333, 0.76, 0], [0.2, 0.84, 0], [0, 0, 1], [0, 0, 0.0], [0, 0.04, 0.5], [0, 0.12, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 0.52, 0], [0.0, 0.6, 0], [0, 0.2, 0], [0, 0.2, 0], [0.6666666666666666, 0, 0], [0.6666666666666666, 0, 0], [0.13333333333333333, 0.76, 0], [1, 0, 0], [0.3333333333333333, 0, 0], [0.3333333333333333, 0, 0], [0.3333333333333333, 0, 0], [0.3333333333333333, 0, 0], [0.3333333333333333, 0, 0], [0.3333333333333333, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0, 0, 1], [0, 0.12, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0.06666666666666667, 0.68, 0], [1, 0, 0], [1, 0, 0], [0.0, 0.6, 0], [0, 1, 0], [0, 0, 0.0], [0, 0.2, 0], [0, 0.12, 0], [0.6666666666666666, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.6, 0, 0], [0.0, 0.6, 0], [1, 0, 0], [0.4666666666666667, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 0]]

In [ ]:
array = [6]

array[0] = 'a'
print(array)

['a']

In [ ]:
def fuzzification_pemasukan(pemasukan):
  if pemasukan >= 30:
    Besar = 1
  elif pemasukan >= 18 and pemasukan < 30:
    Besar = (pemasukan - 18) / (30 - 18)
  else:
    Besar = 0

  if pemasukan <= 1.5 and pemasukan > 0:
    Kecil = 1
  elif pemasukan >= 2 and pemasukan < 6:
    Kecil = (pemasukan - 2) / (4 - 2)
  else:
    Kecil = 0

  if pemasukan > 8 and pemasukan <= 15:
    Menengah = 1
  elif pemasukan >= 3 and pemasukan < 22:
    Menengah = (pemasukan - 2.5) / (22 - 3)
  else:
    Menengah = 0
  list2 = [Besar, Menengah, Kecil]
  return list2 

hasil_fuzzy_pemasukan = []

for q in range (100):
  hasil_fuzzy_pemasukan.append(fuzzification_pemasukan(data_pemohon["pemasukan"][q]))

In [ ]:
print(hasil_fuzzy_pemasukan)

[[0, 0.07894736842105263, 1.0], [1, 0, 0], [0, 0.23684210526315788, 0], [0, 0.18421052631578946, 0], [0, 0.02631578947368421, 0.5], [0.0, 0.8157894736842105, 0], [0, 1, 0], [0, 1, 0], [0, 0.23684210526315788, 0], [0, 0.18421052631578946, 0], [0, 1, 0], [1, 0, 0], [0, 1, 0], [0, 1, 0], [0.25, 0.9736842105263158, 0], [0.16666666666666666, 0.9210526315789473, 0], [0, 1, 0], [1, 0, 0], [0, 0.02631578947368421, 0.5], [0, 0.13157894736842105, 1.5], [0.16666666666666666, 0.9210526315789473, 0], [0.16666666666666666, 0.9210526315789473, 0], [0.16666666666666666, 0.9210526315789473, 0], [0.16666666666666666, 0.9210526315789473, 0], [0.5833333333333334, 0, 0], [0.5833333333333334, 0, 0], [0.5833333333333334, 0, 0], [0.5833333333333334, 0, 0], [0.5833333333333334, 0, 0], [0, 0.7631578947368421, 0], [1, 0, 0], [0, 1, 0], [1, 0, 0], [0, 0.07894736842105263, 1.0], [0.16666666666666666, 0.9210526315789473, 0], [0, 0.7105263157894737, 0], [0, 1, 0], [0.75, 0, 0], [0.9166666666666666, 0, 0], [0.3333333333333333, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0.5833333333333334, 0, 0], [0, 0.07894736842105263, 1.0], [1, 0, 0], [1, 0, 0], [0, 0.7631578947368421, 0], [0, 1, 0], [0.4166666666666667, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0, 0, 0.0], [0, 0.23684210526315788, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 0.7631578947368421, 0], [0.16666666666666666, 0.9210526315789473, 0], [0.3333333333333333, 0, 0], [0.5, 0, 0], [0.5833333333333334, 0, 0], [0.75, 0, 0], [1, 0, 0], [1, 0, 0], [0.75, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0.6666666666666666, 0, 0], [0.9166666666666666, 0, 0], [1, 0, 0], [1, 0, 0], [0, 1, 0], [1, 0, 0], [0, 0.07894736842105263, 1.0], [1, 0, 0], [0, 1, 0], [0.6666666666666666, 0, 0]]

In [ ]:
arr = [1,5,7,8,3,12,41,9,10,11]
for x in range (10):
   arr[x] = x
print(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
 var1 = float(hasil_fuzzy_pinjaman[0][1]) 
 var2 = float(hasil_fuzzy_pemasukan[0][1])
 #min((hasil_fuzzy_pinjaman[0][1]),(hasil_fuzzy_pemasukan[0][1]))

print(min(var1,var2))

0.0

In [ ]:

hasil_perbandingan = hasil_fuzzy_pemasukan
def inference(hasil_fuzzy_pinjaman, hasil_fuzzy_pemasukan):
    hasil_fuzzy_pemasukan
    hasil_fuzzy_pinjaman
    

    for i in range(len(hasil_fuzzy_pinjaman)):
      for j in range(len(hasil_fuzzy_pinjaman[i])):
        hasil_perbandingan[i][j] = min(hasil_fuzzy_pinjaman[i][i],hasil_fuzzy_pemasukan[i][j])
    return hasil_perbandingan

In [ ]:
hasil_perbandingan
print(hasil_perbandingan)

[[0, 0.07894736842105263, 1.0], [1, 0, 0], [0, 0.23684210526315788, 0], [0, 0.18421052631578946, 0], [0, 0.02631578947368421, 0.5], [0.0, 0.8157894736842105, 0], [0, 1, 0], [0, 1, 0], [0, 0.23684210526315788, 0], [0, 0.18421052631578946, 0], [0, 1, 0], [1, 0, 0], [0, 1, 0], [0, 1, 0], [0.25, 0.9736842105263158, 0], [0.16666666666666666, 0.9210526315789473, 0], [0, 1, 0], [1, 0, 0], [0, 0.02631578947368421, 0.5], [0, 0.13157894736842105, 1.5], [0.16666666666666666, 0.9210526315789473, 0], [0.16666666666666666, 0.9210526315789473, 0], [0.16666666666666666, 0.9210526315789473, 0], [0.16666666666666666, 0.9210526315789473, 0], [0.5833333333333334, 0, 0], [0.5833333333333334, 0, 0], [0.5833333333333334, 0, 0], [0.5833333333333334, 0, 0], [0.5833333333333334, 0, 0], [0, 0.7631578947368421, 0], [1, 0, 0], [0, 1, 0], [1, 0, 0], [0, 0.07894736842105263, 1.0], [0.16666666666666666, 0.9210526315789473, 0], [0, 0.7105263157894737, 0], [0, 1, 0], [0.75, 0, 0], [0.9166666666666666, 0, 0], [0.3333333333333333, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0.5833333333333334, 0, 0], [0, 0.07894736842105263, 1.0], [1, 0, 0], [1, 0, 0], [0, 0.7631578947368421, 0], [0, 1, 0], [0.4166666666666667, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0, 0, 0.0], [0, 0.23684210526315788, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 0.7631578947368421, 0], [0.16666666666666666, 0.9210526315789473, 0], [0.3333333333333333, 0, 0], [0.5, 0, 0], [0.5833333333333334, 0, 0], [0.75, 0, 0], [1, 0, 0], [1, 0, 0], [0.75, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0.6666666666666666, 0, 0], [0.9166666666666666, 0, 0], [1, 0, 0], [1, 0, 0], [0, 1, 0], [1, 0, 0], [0, 0.07894736842105263, 1.0], [1, 0, 0], [0, 1, 0], [0.6666666666666666, 0, 0]]

In [75]:
batas_Accepted = 100
batas_Considered = 50
batas_Rejected = 30

hasil_perbandingan

score = []
def defuzifikasi(hasil_perbandingan):
  for i in range(len(hasil_perbandingan)):
    score.append(((hasil_perbandingan[i][0] * 100) + (hasil_perbandingan[i][1] * 50) + (hasil_perbandingan[i][2] * 30)) / (hasil_perbandingan[i][0] + hasil_perbandingan[i][1] + hasil_perbandingan[i][2])) 
 
 

defuzifikasi(hasil_perbandingan)
#print(hasil_perbandingan[0][0])
#print(hasil_perbandingan[0][1])
#print(hasil_perbandingan[0][2])
print(score)

[31.46341463414634, 100.0, 50.0, 50.0, 31.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 100.0, 50.0, 50.0, 60.21505376344085, 57.66129032258064, 50.0, 100.0, 31.0, 31.612903225806452, 57.66129032258064, 57.66129032258064, 57.66129032258064, 57.66129032258064, 100.0, 100.0, 100.0, 100.0, 100.0, 50.0, 100.0, 50.0, 100.0, 31.46341463414634, 57.66129032258064, 50.0, 50.0, 100.0, 100.0, 99.99999999999999, 100.0, 100.0, 100.0, 100.0, 100.0, 31.46341463414634, 100.0, 100.0, 50.0, 50.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, nan, 50.0, 50.0, 50.0, 50.0, 50.0, 57.66129032258064, 99.99999999999999, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 99.99999999999999, 100.0, 100.0, 100.0, 50.0, 100.0, 31.46341463414634, 100.0, 50.0, 99.99999999999999]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in double_scalars
  # Remove the CWD from sys.path while we load stuff.

In [76]:
score
print(score)

[31.46341463414634, 100.0, 50.0, 50.0, 31.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 100.0, 50.0, 50.0, 60.21505376344085, 57.66129032258064, 50.0, 100.0, 31.0, 31.612903225806452, 57.66129032258064, 57.66129032258064, 57.66129032258064, 57.66129032258064, 100.0, 100.0, 100.0, 100.0, 100.0, 50.0, 100.0, 50.0, 100.0, 31.46341463414634, 57.66129032258064, 50.0, 50.0, 100.0, 100.0, 99.99999999999999, 100.0, 100.0, 100.0, 100.0, 100.0, 31.46341463414634, 100.0, 100.0, 50.0, 50.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, nan, 50.0, 50.0, 50.0, 50.0, 50.0, 57.66129032258064, 99.99999999999999, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 99.99999999999999, 100.0, 100.0, 100.0, 50.0, 100.0, 31.46341463414634, 100.0, 50.0, 99.99999999999999]

In [78]:
data_pemohon['status'] = score
data_pemohon

     id  pinjaman  pemasukan      status
0     1        15          4   31.463415
1     2         9         60  100.000000
2     3         3          7   50.000000
3     4         5          6   50.000000
4     5         2          3   31.000000
..  ...       ...        ...         ...
95   96        25         36  100.000000
96   97        17          4   31.463415
97   98         1         54  100.000000
98   99         7         15   50.000000
99  100         8         26  100.000000

[100 rows x 4 columns]

In [79]:
dataExcel = data_pemohon.copy()
dataExcel.sort_values('status', ascending=False, inplace=True)
dataExcel

    id  pinjaman  pemasukan      status
79  80        19         27  100.000000
83  84        19         35  100.000000
82  83        19         27  100.000000
32  33        20         69  100.000000
81  82        19         30  100.000000
..  ..       ...        ...         ...
96  97        17          4   31.463415
0    1        15          4   31.463415
18  19        12          3   31.000000
4    5         2          3   31.000000
69  70        19          2         NaN

[100 rows x 4 columns]

In [80]:
dataExcel = dataExcel[:10]
dataExcel['id'].to_excel('luaran.xls', index=False)